@model  List<CodeDemo.Data.Entities.User>
@{
    ViewBag.Title = "ListPeople";
}
<br/>
<a href="@Url.Action("CreateEditPeople")">Add New User</a>
<br/>
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">FirstName</th>
        <th scope="col">LastName</th>
        <th scope="col">UserName</th>
        <th scope="col">Options</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var p in Model)
    {
        <tr>
            <td>@p.People.FirstName</td>
            <td>@p.People.LastName</td>
            <td>@p.UserName</td>
            <td><a href="@Url.Action("EditUser")?id=@p.Id">Edit</a>  | <a href="javascript:deleteUser(@p.Id)">Delete</a> </td>
        </tr>
    }
    </tbody>
</table>
<script>
    function deleteUser(id) {
        var result = confirm("Are you sure to delete this user?");
        if (result) {
            $.ajax({
                url: '@Url.Action("DeleteUser")' + '?id=' + id,
                success: function(result) {
                    if (result == "True") {
                        alert("User deleted successfuly");
                        location.reload();
                    } else {
                        alert("User was not deleted, please try again...");
                    }
                }
            });    
        }
    }
</script>

